// break points (px)
$lg-break: 1199;
$md-break: 991;
$sm-break: 767;
$xs-break: 575;
$l-break: 426;
$xxs-break: 359;

$main-font: 'Montserrat', sans-serif;

// colors
$white: #FFFFFF;
$darkBlue: #000046;
$stroke: #EAEAEA;
$black: #000000;